h1 {
  font-family: 'Poiret One', sans-serif;
}

.charts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
  }
  
  .chart-card {
    background: #000;
    border-radius: 15px;
    padding: 1.25rem;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 300px;
  }
  
  .chart-card h2 {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
  
  /* Responsive adjustments */
  @media screen and (min-width: 768px) {
    .charts {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 1200px) {
    .charts {
      grid-template-columns: repeat(3, 1fr);
    }
  }