body {
    font-family: 'Poiret One', sans-serif;
    background-color: white;
    color: white;
    text-align: left;
}

.container {
    width: 350px;
    margin: auto;
    margin-top: 100px;
    background: white;
    color: black;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid black
}

h2 {
    font-size: 28px;
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;
}


.rememberForgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.forgotPassword {
    font-size: 14px;
    text-align: right;
    text-decoration: none;
}

.rememberMe {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap; /* Prevents line breaks */
}
  
.hidden {
    display: none;
}

.addressFields {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}
