.mainBody {
    /* margin-left: 80px; Match sidebar width */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%; /* Full width minus sidebar */
    font-family: 'Poiret One', cursive;
  }

  .backArrow {
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 1000; /* Keep it above other elements */
  }
  
  .backArrow img {
    width: 60px;
    height: auto;
    cursor: pointer;
  }

  .backArrow img:hover {
    background-color: whitesmoke;
  }
  

.entryName {
    width: 800px;
    padding: 20px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 70px;
}

.entry {
    width: 800px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    font-family: sans-serif;
}

.entryImage {
    border-right: 3px solid black;
    padding: 20px;
}

.entryImage img {
  height: 80px;
  width: 80px;
}

.nameAndPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-right: 3px solid black;
  margin: 0;
  padding: 10px;
  width: 750px;
  height: 127px;
}

.mainName {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 30px;
  padding: 5px;
}

.price {
  font-size: 25px;
}

.descAndMods {
  font-size: 17px;
}

.description {
  border-bottom: 3px solid black;
  padding-left: 3px;
}

.mods {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bolder;
  height: 48px;
}

.addEntry {
    width: 400px;
    padding: 20px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 35px;
}

.addEntry:hover {
    cursor: pointer;
    background-color: #333333;
}

:root {
    --primary-bg: #000;
    --primary-text: #fff;
    --secondary-bg: #333;
    --accent-color: #007bff;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-family: 'Poiret One', cursive;
  }
  
  html {
    height: 100%;
  }