.mainBody {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    font-family: 'Poiret One', cursive;
}

.ordersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .orderBox {
    flex: 1 1 calc(25% - 1rem);
    min-width: 250px;
    max-width: 300px;
    background-color: #fdfdfd;
    border-left: 6px solid #000000;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poiret One', cursive;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }


.orderBox h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.orderBox ul {
    margin: 0.5rem 0;
    padding-left: 0.5rem;
}

.orderBox li {
    padding-left: 1.5rem;
    margin-bottom: 0rem;
}

.orderItems {
    padding-left: 0;
    list-style: none;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  .orderItems li {
    background-color: #fcfcfc;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 250px;
  }

.modifications {
    margin-bottom: 0.5rem;
    margin-left:1rem;
    padding-left: 1.5rem;
    font-size: 0.9rem;
    list-style-type: circle;
}

.titleBox {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

.status {
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

.status.preparing {
    color: #fff;
    background-color: #f39c12;
}

.status.ready {
    color: #fff;
    background-color: #2ecc71;
}

.status.completed {
    color: #fff;
    background-color: #332ecc;
}

.statusBtn {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: #012040;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .statusBtn:hover {
    background-color: #223549;
  }

.orderNavigation {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.orderBtn {
    padding: 10px 20px;
    margin-top: 1rem;
    background-color: #000c17;
    border: 1px solid #ffffff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.orderBtn.active {
    background-color: #012040;
    color: white;
    border-color: #000000;
}

.orderBtn:hover {
    background-color: #223549;
}

.ordersContainer {
    margin-top: 1rem;
}

.currentOrders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  .pastOrders {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
  }